@import "resets.scss";

/* Переменные по стайл-гайду */
$titleFont: 'Playfair Display', serif;
$textFont: 'Rubik', sans-serif;

$prColor: #FF7757;
$secColor: #331811;
$textColor: #172432;
$conColor: #FFFFFF;

/* Стили основных компонентов */

html {
    overflow-x: hidden;	
}

body {
    background-color: $conColor;

    color: $textColor;
	font-family: $textFont;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
    overflow-x: hidden;	
    text-align: center;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;

    @media (max-width: 1151px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: 767px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

%container-vertical-paddings {
    padding-top: 140px;
    padding-bottom: 140px;

    @media (max-width: 1439px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (max-width: 1151px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

%block-organisation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;

    @media (max-width: 1151px) {
        flex-direction: column;
    }
}

.primary-button {
    background-color: $prColor;

    color: $conColor;
    font-size: 20px;
    line-height: 24px;

    padding: 20px 32px;
    border-radius: 12px;
}

.secondary-button {
    color: $conColor;
    font-size: 20px;
    line-height: 24px;
}

.link-button {
    color: $prColor;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    padding-right: 47px;
    background-image: url(../img/service/orange-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    display: inline-block;
}

.special-button {
    font-family: $textFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $conColor;
    background-color: $prColor;
    border-radius: 12px;
    padding: 20px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-color: #172432;
        left: -14px;
        top: -14.5px;
        width: 43px;
        height: 43px;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: '';
        background-color: #767E86;
        right: -16px;
        bottom: -16px;
        width: 43px;
        height: 43px;
        z-index: -1;
    }
}

.logo {
    
    &__img {
        height: 100%;
        max-width: 100%;
    }
}

.block-title {
    display: inline-block;
	font-family: $titleFont;
    font-weight: 400;
	font-size: 64px;
	line-height: 85px;

    &::after {
        border-bottom: 3px solid $prColor;
        content: "";
        display: block;
        padding-top: 20px;
        width: 60%;
    }

    @media (max-width: 1151px) {
        font-size: 54px;
        line-height: 72px;
    }

    @media (max-width: 767px) {
        font-size: 40px;
        line-height: 53px;
    }
}

.block-subtitle {
    font-family: $textFont;
	font-size: 24px;
	line-height: 28px;
    color: #767E86;

    @media (max-width: 1151px) {
        font-size: 20px;
        line-height: 24px;
    }

    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 21px;
    }
}

%title-and-subtitle-container {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
}

.slider-arrows {
    display: flex;
    gap: 40px;
}

.rating {
    display: flex;
    gap: 4px;
}



/* Делаю картинки адаптивными */
.img-container {
    position: relative;
    overflow: hidden;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Шаблон для эффектов картинок*/
%img-effect {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}



/* Стили странички */

.first-screen {
    position: relative;
    overflow: hidden;

    &__background-slider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
    }

    &__slider-change-pannel {
        position: absolute;
        right: 80px;
        top: calc(50% - 114px);

        @media (max-width: 1439px) {
            right: 32px;
        }

        @media (max-width: 1151px) {
            right: 20px;
        }
    
        @media (max-width: 767px) {
            display: none !important;
        }
    }
}

.background-slider {
    padding: 0 0 58% 0;

    &__img {
        object-position: 50% 85%;
        width: 100%;
    }

    &:after {
        @extend %img-effect;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
}

.slider-change-pannel {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__circle-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__circle {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: $conColor;
        cursor: pointer;

        &_active {
            background-color: $prColor;
        }
    }

    &__arrows {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    &__arrow {
        width: 14px;
        cursor: pointer;
    }
}


.page-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 142px;

    @media (max-width: 1439px) {
        margin-bottom: 72px;
    }

    @media (max-width: 1151px) {
        margin-bottom: 100px;
    }

    @media (max-width: 767px) {
        padding: 24px 32px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 45.6px;
        cursor: pointer;

        @media (max-width: 767px) {
            height: 27.5px;
        }
    }

    &__menu {
        display: flex;
        gap: 32px;

        @media (max-width: 1151px) {
            display: none;
        }
    }

    &__link {
        color: $conColor;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 1px;

        &_active {
            border-bottom: 3px solid $prColor;
            font-weight: 500;
        }
    }

    &__security-buttons {
        display: flex;
        gap: 36px;

        @media (max-width: 1151px) {
            display: none;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 1151px) {
            display: block;
        }
    }

    &__close {
        display: none;
    }
}

.page-header-mobile {
    background-color: $conColor;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-wrap: wrap;
    row-gap: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: clip 1s ease-out;
    @keyframes clip {
        from { clip: rect(auto, auto, 0, auto); }   
        to { clip: rect(auto, auto, 550px, auto); }  
    }

    .logo__img {
        order: 1;
        path {
            fill: $textColor;
        }
    }

    .page-header__menu {
        display: flex;
        flex-direction: column;
        order: 3;
        width: 100%;

        .page-header__link {
            color: $textColor;
        }
    }

    .page-header__security-buttons {
        display: flex;
        flex-direction: column;
        order: 4;
        width: 100%;

        .secondary-button {
            color: $textColor;
        }
    }

    .page-header__burger {
        display: none;
    }

    .page-header__close {
        display: block;
        order: 2;
    }
}

.hero_when-burger-opened {
    @media (max-width: 1151px) {
        margin-top: 214px;
    }
    
    @media (max-width: 767px) {
        margin-top: 198px;
    } 
    
}

.hero {
    position: relative;

    &__title {
        font-family: $titleFont;
        font-size: 84px;
        font-weight: 400;
        line-height: 1.33em;
        color: $conColor;
        margin-bottom: 16px;

        @media (max-width: 1439px) {
            font-size: 64px;
        }
        
        @media (max-width: 1151px) {
            font-size: 54px;
        }
        
        @media (max-width: 767px) {
            font-size: 40px;
        } 
    }

    &__subtitle {
        font-family: $textFont;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.185em;
        color: $conColor;
        margin-bottom: 170px;

        @media (max-width: 1439px) {
            margin-bottom: 140px;
        }

        @media (max-width: 1151px) {
            margin-bottom: 100px;
            font-size: 20px;
        }

        @media (max-width: 1151px) {
            font-size: 18px;
        }
    }

    &__booking-form {
        margin-bottom: 270px;

        @media (max-width: 1439px) {
            margin-bottom: 150px;
        }

        @media (max-width: 1151px) {
            margin-bottom: 75px;
        }

        @media (max-width: 767px) {
            margin-bottom: 100px;
        }
    }
}


.booking-form {
    background-color: $conColor;
    border-radius: 20px;
    position: relative;

    display: inline-flex;
    gap: 100px;

    max-width: 77%;

    @media (max-width: 1919px) {
        max-width: 84%;
    }

    @media (max-width: 1439px) {
        max-width: 92%;
    }

    @media (max-width: 1151px) {
        max-width: 85%;
    }

    @media (max-width: 767px) {
        display: grid;
        gap: 60px;
        max-width: 100%;
    }

    &::before {
        content: '';
        margin-left: 0;
        background-color: $conColor;
        position: absolute;
        left: -250px;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -2;

        @media (max-width: 767px) {
            display: none;
        }
    }

        &__field-part {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;

            
            padding-top: 74px;
            padding-bottom: 74px;

            @media (max-width: 1919px) {
                padding-top: 75.5px;
                padding-bottom: 75.5px;
            }

            @media (max-width: 1439px) {
                padding-top: 55.5px;
                padding-bottom: 55.5px;
            }

            @media (max-width: 1151px) {
                padding-top: 23px;
                padding-bottom: 23px;
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 767px) {
                padding: 20px 20px 0 20px;
                grid-template-columns: 1fr;
            }
        }

        &__field {
            display: grid;
            gap: 12px;
        }

        &__input-label {
            font-family: $textFont;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            color: #767E86;
        }

        &__input {
            appearance: none;
            background-image: url(../img/service/expand-arrow.svg);
            background-position: right center;
            background-repeat: no-repeat;
            border-bottom: 1px solid #000000;
            width: 100%;
            cursor: pointer;

            .booking-form__field:first-of-type & {
                background-image: none;
            }

            font-family: $titleFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;

            &::placeholder {
                color: $textColor;
            }

            @media (max-width: 1439px) {
                font-size: 16px;
                line-height: 21px;
            }

            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 19px;
            }
            
        }

        &__button {
            background-color: $prColor;
            height: auto;
            border-radius: 0px 20px 20px 0px;
            padding-left: 20px;
            padding-right: 20px;

            display: flex;
            gap: 12px;
            align-items: center;

            font-family: $titleFont;
            font-weight: 400;
            font-size: 36px;
            line-height: 48px;
            color: $conColor;

            svg {
                min-width: 22px;

                path {
                    fill: $conColor;
                }
            }

            @media (max-width: 767px) {
                border-radius: 0px 0px 20px 20px;
                padding-top: 40px;
                padding-bottom: 40px;
                justify-content: space-between;

                br {
                    display: none;
                }
            }
        }
}


.popular-destinations {
    @extend %container-vertical-paddings;
    @extend %block-organisation;

		&__title-block {
            @extend %title-and-subtitle-container;

            @media (max-width: 1151px) {
                order: 1;
            }
		}

		&__slider-arrows {
            place-self: end;

            @media (max-width: 1151px) {
                order: 3;
                align-self: center;
            }
		}

		&__cards-block {
            display: flex;
            gap: 32px;
            // width: 100%;

            @media (max-width: 1151px) {
                order: 2;
                flex-direction: column;
            }
		}
}

.destination-card {
    position: relative;
    width: 497px;
    height: 661px;
    padding: 24px 40px;
    display: flex;
	flex-direction: column;
	gap: 17px;
	justify-content: flex-end;

    
    
    @media (max-width: 1151px) {
        max-width: 100%;
        display: none;
        width: 100%;
        height: 456px;

        &:first-child {
            display: flex;
        }
    }

		&__img {
            border-radius: 26px;
            position: absolute;
            top: 0;
            left: 0;
            height: 661px;
            width: 497px;
            z-index: -3;

            @media (max-width: 1151px) {
                width: 100%;
                height: 456px;
            }

            &::after {
                @extend %img-effect;
                background: linear-gradient(0deg, rgba(255, 119, 87, 0.1), rgba(255, 119, 87, 0.1));
            }
		}

		&__title {
            color: $conColor;
            font-family: $titleFont;
            font-weight: 500;
            font-size: 28px;
            line-height: 37px;

            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 32px;
            }
		}

		&__location {
            color: $conColor;
            font-family: $textFont;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            padding-left: 40px;
            height: 24px;
            display: flex;
            align-items: center;
            background-image: url(../img/service/location.svg);
            background-repeat: no-repeat;
            background-position: left center;

            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 21px;
            }
		}
}
.special-offer {
    @extend %container-vertical-paddings;
    @extend %block-organisation;

    @media (max-width: 767px) {
        row-gap: 60px;
    }

		&__slider-arrows {
            order: 1;
            place-self: end start;

            @media (max-width: 1151px) {
                order: 3;
                align-self: center;
            }
		}

		&__title-block {
            order: 2;
            @extend %title-and-subtitle-container;
            align-items: flex-end;

            .block-title::after {
                margin-left: 40%;

                @media (max-width: 1151px) {
                    order: 1;
                }
            }
		}

		&__cards-block {
            order: 3;
            display: flex;
            gap: 32px;
            overflow: hidden;

            @media (max-width: 1151px) {
                order: 2;
            }
		}
}
.special-offer-card {

    &:nth-child(4) {
        display: none;
    }

    @media (max-width: 1151px) {
        display: none;

        &:first-child {
            display: block;
        }
    }

		&__img {
            height: 286px;
            border-radius: 26px 26px 0px 0px;

            &::after {
                @extend %img-effect;
                background: linear-gradient(0deg, rgba(255, 119, 87, 0.1), rgba(255, 119, 87, 0.1));
            }
		}

		&__info-block {
            background-color: #FFF8F1;
            border-radius: 0px 0px 26px 26px;
            padding: 40px 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width: 1439px) {
                padding: 20px 24px;
            }

            @media (max-width: 767px) {
                padding: 20px;
            }
		}

		&__title {
            color: #767E86;
            font-family: 'Muli', sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 35px;
            width: 100%;
            margin-bottom: 8px;
		}

		&__stars {
            width: 100%;
            margin-bottom: 24px;
		}

		&__description {
            font-family: $textFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            width: 100%;
            margin-bottom: 24px;

            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 20px;
            }
		}

		&__price-block {
            display: flex;
            gap: 8px;
            align-items: center;

            @media (max-width: 767px) {
                margin-bottom: 20px;
                width: 100%;
            }
		}

		&__additional-text {
            color: #767E86;
            font-family: $textFont;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            @media (max-width: 1439px) {
                font-size: 18px;
                line-height: 21px;
            }
		}

		&__price {
            font-family: $textFont;
            font-weight: 400;
            font-size: 40px;
            line-height: 47px;
            color: $prColor;

            @media (max-width: 1439px) {
                font-size: 28px;
                line-height: 33px;
            }

            @media (max-width: 1151px) {
                font-size: 32px;
                line-height: 38px;
            }
		}

		&__button {
            text-transform: uppercase;
            color: $conColor;
            font-family: $textFont;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            background-color: $prColor;
            padding: 20px 40px;
            border-radius: 12px;

            @media (max-width: 1151px) {
                padding: 16px 24px;
            }
		}
}



.blog {
    @extend %container-vertical-paddings;
    @extend %block-organisation;
    column-gap: 32px;

    @media (max-width: 1151px) {
        row-gap: 32px;
    }

		&__title-block {
            @extend %title-and-subtitle-container;
            width: 100%;

            @media (max-width: 1151px) {
                margin-bottom: 100px;
            }
		}

		&__post-img {
            border-radius: 26px;
            flex: 0 0 calc((100% - 32px)/2);

            @media (max-width: 1151px) {
                flex-basis: auto;
                height: 555px;
            }

            @media (max-width: 767px) {
                height: 314px;
            }

            &::after {
                @extend %img-effect;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            }
            
		}

		&__text-block {
            flex: 0 0 calc((100% - 32px)/2);
            padding-top: 45px;
            padding-bottom: 45px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: flex-start;

            @media (max-width: 1439px) {
                padding-top: 32px;
                padding-bottom: 32px;
            }

            @media (max-width: 1151px) {
                flex-basis: auto;
                padding-top: 0;
                padding-bottom: 0;
            }
		}

		&__post-title {
            font-family: $titleFont;
            font-weight: 400;
            font-size: 54px;
            line-height: 72px;

            @media (max-width: 767px) {
                font-size: 40px;
                line-height: 53px; 
            }
		}

		&__post-text {
            font-family: $textFont;
            font-weight: 400;
            font-size: 24px;
            line-height: 52px;

            @media (max-width: 1439px) {
                font-size: 18px;
                line-height: 42px;
            }
		}
}

.trip-planners {
    @extend %container-vertical-paddings;
    display: flex;
    gap: 100px;
    align-items: center;

    @media (max-width: 1919px) {
        gap: 80px;
    }

    @media (max-width: 1151px) {
        flex-direction: column;
        align-items: flex-start;
    }

		&__title-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 394px;
            width: 394px;
		}

        &__title {
            margin-bottom: 32px;
		}

		&__subtitle {
            width: 100%;
            color: #767E86;
            font-family: $textFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 46.5px;
		}

		&__button {
            margin-left: 40px;

            @media (max-width: 1919px) {
                margin-left: 14px;
            }
		}

		&__cards-block {
            display: flex;
            gap: 32px;
            padding-top: 73px;
            padding-bottom: 73px;

            @media (max-width: 1151px) {
                flex-direction: column;
                gap: 40px;
                width: 100%;
            }
		}
}


.trip-planners-card {
    height: 399px;
    width: 300px;
    overflow: hidden;
    transition: margin-top 1s;

    @media (max-width: 1439px) {
        height: 350px;
    }

    @media (min-width: 1152px) {
        &:hover {
            overflow: visible;
            margin-top: -73px;
            transition: margin-top 1s;
        }
    }

    @media (max-width: 1151px) {
        width: 100%;
        height: auto;
        overflow: visible;
    }
    

		&__img {
            height: 399px;
            width: 300px;
            border-radius: 26px;

            @media (max-width: 1439px) {
                height: 350px;
            }

            @media (max-width: 1151px) {
                width: 100%;
            }

            &::after {
                @extend %img-effect;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            }
		}

        &__tour-info {
            display: flex;
            gap: 12px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;
        }

		&__tour-type {
            font-family: $textFont;
            color: $textColor;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
		}

		&__tour-price {
            font-family: $textFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $textColor;
		}

		&__tour-name {
            width: 100%;
            font-family: $titleFont;
            font-weight: 600;
            font-size: 28px;
            line-height: 37px;
            color: $textColor;
		}

		&__tour-length {
            font-family: $textFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $textColor;
		}
}
.gallery {
    @extend %container-vertical-paddings;
    @extend %block-organisation;

		&__title-block {
            @extend %title-and-subtitle-container;
            order: 1;
		}

		&__slider-arrows {
            place-self: end;
            order: 2;

            @media (max-width: 1151px) {
                order: 3;
                place-self: center;
            }
		}

		&__photo-block {
            width: 100%;
            display: flex;
            gap: 32px;
            order: 3;
            padding-top: 37.5px;
            padding-bottom: 37.5px;

            @media (max-width: 1151px) {
                order: 2;
                flex-direction: column;
            }
		}

		&__img {
            width: calc((100% - 96px)/3);
            height: 570px;
            border-radius: 26px;
            margin-top: 0;
            transition: margin-top 1s;

            @media (min-width: 1152px) {
                &:hover {
                margin-top: -37.5px;
                transition: margin-top 1s;
                }
            }

            @media (max-width: 1919px) {
                height: 469px;
            }

            @media (max-width: 1439px) {
                height: 351px;
            }

            @media (max-width: 1151px) {
                width: 100%;
                display: none;
        
                &:first-child {
                    display: block;
            }

            @media (max-width: 767px) {
                height: 320px;
            }
		}

    }
}

.feedback {
    @extend %container-vertical-paddings;
    display: flex;
    flex-wrap: wrap;
    gap: 160px;
    padding-bottom: 0;

    @media (max-width: 767px) {
        gap: 100px;
    }

		&__title-block {
            @extend %title-and-subtitle-container;
            width: 100%;
		}

		&__feedbacks-block {
            display: flex;
            gap: 32px;
		}

        &__slider-arrows {
            width: 100%;
            justify-content: end;            
        }
}
.feedback-card {
    background-color: #F5F6F7;
    border-radius: 12px;
    width: 663px;
    padding: 60px 40px 40px;
    position: relative;

    @media (max-width: 1919px) {
        width: 562px;
    }

    @media (max-width: 1439px) {
        width: 500px;
    }

    @media (max-width: 767px) {
        width: 100%;
        padding: 60px 20px 20px;
        display: none;
        
        &:first-child {
            display: block;
        }
    }

		&__img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            left: 40px;
            top: -65px;
		}

		&__client-says {
            font-family: $textFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #767E86;
            margin-bottom: 20px;
		}

        &__stars {
            margin-bottom: 20px;
        }

		&__client-name {
            margin-bottom: 4px;
            font-family: $titleFont;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #767E86;
		}

		&__client-profession {
            font-family: $textFont;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #767E86;
		}
}
.subscribe {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 26px;
    max-width: 1262px;
    padding: 60px 80px;
    display: inline-flex;
    gap: 100px;
    align-items: center;
    text-align: left;
    position: relative;
    top: 116px;
    z-index: 2;
    background-color: $conColor;

    @media (max-width: 1439px) {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 36px;
        margin-right: 36px;
    }

    @media (max-width: 1151px) {
        margin-left: 20px;
        margin-right: 20px;
        top: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 16px;
        margin-right: 16px;
    }

		&__title {
            color: #767E86;

            @media (max-width: 1439px) {
                font-size: 54px;
                line-height: 133.3%;
            }

            @media (max-width: 767px) {
                font-size: 40px;
                width: 100%;
            }

            &::after {
                border-bottom: 0;
            }
		}

		&__form {

            @media (max-width: 1151px) {
                width: 100%;

                .subscribe-form__field {
                    width: 100%;
                }
            }

            @media (max-width: 767px) {
                flex-wrap: wrap;

                .subscribe-form__button {
                    width: 100%;
                }
            }
		}
}

.subscribe-form {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: flex-end;

		&__field {
            display: flex;
            flex-direction: column;
            gap: 16px;
		}

		&__email-label {
            font-family: $textFont;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #767E86;
            display: block;
		}

		&__email {
            background-color: #FFE8D4;
            font-family: $textFont;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            padding: 24px 40px;
            border-radius: 12px;
            cursor: pointer;

            &::placeholder {
                color: $prColor;
            }
		}

		&__button {
            padding: 24px 40px;
		}
}

footer {
    background-color: $textColor;
}

.page-footer {
    color: $conColor;
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 240px;
    padding-bottom: 140px;

        @media (max-width: 1151px) {
            flex-direction: column;
            justify-content: flex-start;
            gap: 60px;
            padding-top: 100px;
        }

        @media (max-width: 767px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

		&__copyright-and-policy-stuff {
            display: flex;
            flex-direction: column;
            gap: 16px;
		}

		&__logo {
            height: 45.6px;
            cursor: pointer;

            @media (max-width: 767px) {
                height: 27.5px;
            }
		}

		&__copyright {
            font-family: $textFont;
            font-size: 14px;
            line-height: 17px;
		}

		&__info-block {
            display: flex;
            flex-direction: column;
            gap: 16px;
		}

		&__info-block-title {
            font-family: $textFont;
            font-size: 24px;
            line-height: 28px;
            font-weight: 500;
		}

		&__list {
            display: flex;
            flex-direction: column;
            gap: 12px;
		}

		&__link {
            font-family: $textFont;
            font-size: 18px;
            line-height: 21px;
            color: $conColor;
		}

		&__socials-list {
            display: flex;
            gap: 24px;
		}

		&__socials-link {
            display: flex;
            align-items: center;
            height: 40px;
		}
}
