@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Переменные по стайл-гайду */
/* Стили основных компонентов */
html {
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
  color: #172432;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  overflow-x: hidden;
  text-align: center;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  text-align: left;
}
@media (max-width: 1151px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.feedback, .gallery, .trip-planners, .blog, .special-offer, .popular-destinations {
  padding-top: 140px;
  padding-bottom: 140px;
}
@media (max-width: 1439px) {
  .feedback, .gallery, .trip-planners, .blog, .special-offer, .popular-destinations {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1151px) {
  .feedback, .gallery, .trip-planners, .blog, .special-offer, .popular-destinations {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.gallery, .blog, .special-offer, .popular-destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 100px;
}
@media (max-width: 1151px) {
  .gallery, .blog, .special-offer, .popular-destinations {
    flex-direction: column;
  }
}

.primary-button {
  background-color: #FF7757;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 32px;
  border-radius: 12px;
}

.secondary-button {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
}

.link-button {
  color: #FF7757;
  font-weight: 400;
  font-size: 24px;
  line-height: 52px;
  padding-right: 47px;
  background-image: url(../img/service/orange-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
}

.special-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #FF7757;
  border-radius: 12px;
  padding: 20px;
  position: relative;
}
.special-button::before {
  position: absolute;
  content: "";
  background-color: #172432;
  left: -14px;
  top: -14.5px;
  width: 43px;
  height: 43px;
  z-index: -1;
}
.special-button::after {
  position: absolute;
  content: "";
  background-color: #767E86;
  right: -16px;
  bottom: -16px;
  width: 43px;
  height: 43px;
  z-index: -1;
}

.logo__img {
  height: 100%;
  max-width: 100%;
}

.block-title {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
}
.block-title::after {
  border-bottom: 3px solid #FF7757;
  content: "";
  display: block;
  padding-top: 20px;
  width: 60%;
}
@media (max-width: 1151px) {
  .block-title {
    font-size: 54px;
    line-height: 72px;
  }
}
@media (max-width: 767px) {
  .block-title {
    font-size: 40px;
    line-height: 53px;
  }
}

.block-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #767E86;
}
@media (max-width: 1151px) {
  .block-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .block-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
}

.feedback__title-block, .gallery__title-block, .blog__title-block, .special-offer__title-block, .popular-destinations__title-block {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.slider-arrows {
  display: flex;
  gap: 40px;
}

.rating {
  display: flex;
  gap: 4px;
}

/* Делаю картинки адаптивными */
.img-container {
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Шаблон для эффектов картинок*/
.trip-planners-card__img::after, .blog__post-img::after, .special-offer-card__img::after, .destination-card__img::after, .background-slider:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* Стили странички */
.first-screen {
  position: relative;
  overflow: hidden;
}
.first-screen__background-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.first-screen__slider-change-pannel {
  position: absolute;
  right: 80px;
  top: calc(50% - 114px);
}
@media (max-width: 1439px) {
  .first-screen__slider-change-pannel {
    right: 32px;
  }
}
@media (max-width: 1151px) {
  .first-screen__slider-change-pannel {
    right: 20px;
  }
}
@media (max-width: 767px) {
  .first-screen__slider-change-pannel {
    display: none !important;
  }
}

.background-slider {
  padding: 0 0 58% 0;
}
.background-slider__img {
  -o-object-position: 50% 85%;
     object-position: 50% 85%;
  width: 100%;
}
.background-slider:after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.slider-change-pannel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.slider-change-pannel__circle-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.slider-change-pannel__circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}
.slider-change-pannel__circle_active {
  background-color: #FF7757;
}
.slider-change-pannel__arrows {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.slider-change-pannel__arrow {
  width: 14px;
  cursor: pointer;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1439px) {
  .page-header {
    margin-bottom: 72px;
  }
}
@media (max-width: 1151px) {
  .page-header {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .page-header {
    padding: 24px 32px;
  }
}
.page-header__logo {
  height: 45.6px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .page-header__logo {
    height: 27.5px;
  }
}
.page-header__menu {
  display: flex;
  gap: 32px;
}
@media (max-width: 1151px) {
  .page-header__menu {
    display: none;
  }
}
.page-header__link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 1px;
}
.page-header__link_active {
  border-bottom: 3px solid #FF7757;
  font-weight: 500;
}
.page-header__security-buttons {
  display: flex;
  gap: 36px;
}
@media (max-width: 1151px) {
  .page-header__security-buttons {
    display: none;
  }
}
.page-header__burger {
  display: none;
}
@media (max-width: 1151px) {
  .page-header__burger {
    display: block;
  }
}
.page-header__close {
  display: none;
}

.page-header-mobile {
  background-color: #FFFFFF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-wrap: wrap;
  row-gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation: clip 1s ease-out;
}
@keyframes clip {
  from {
    clip: rect(auto, auto, 0, auto);
  }
  to {
    clip: rect(auto, auto, 550px, auto);
  }
}
.page-header-mobile .logo__img {
  order: 1;
}
.page-header-mobile .logo__img path {
  fill: #172432;
}
.page-header-mobile .page-header__menu {
  display: flex;
  flex-direction: column;
  order: 3;
  width: 100%;
}
.page-header-mobile .page-header__menu .page-header__link {
  color: #172432;
}
.page-header-mobile .page-header__security-buttons {
  display: flex;
  flex-direction: column;
  order: 4;
  width: 100%;
}
.page-header-mobile .page-header__security-buttons .secondary-button {
  color: #172432;
}
.page-header-mobile .page-header__burger {
  display: none;
}
.page-header-mobile .page-header__close {
  display: block;
  order: 2;
}

@media (max-width: 1151px) {
  .hero_when-burger-opened {
    margin-top: 214px;
  }
}
@media (max-width: 767px) {
  .hero_when-burger-opened {
    margin-top: 198px;
  }
}

.hero {
  position: relative;
}
.hero__title {
  font-family: "Playfair Display", serif;
  font-size: 84px;
  font-weight: 400;
  line-height: 1.33em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
@media (max-width: 1439px) {
  .hero__title {
    font-size: 64px;
  }
}
@media (max-width: 1151px) {
  .hero__title {
    font-size: 54px;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.185em;
  color: #FFFFFF;
  margin-bottom: 170px;
}
@media (max-width: 1439px) {
  .hero__subtitle {
    margin-bottom: 140px;
  }
}
@media (max-width: 1151px) {
  .hero__subtitle {
    margin-bottom: 100px;
    font-size: 20px;
  }
}
@media (max-width: 1151px) {
  .hero__subtitle {
    font-size: 18px;
  }
}
.hero__booking-form {
  margin-bottom: 270px;
}
@media (max-width: 1439px) {
  .hero__booking-form {
    margin-bottom: 150px;
  }
}
@media (max-width: 1151px) {
  .hero__booking-form {
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .hero__booking-form {
    margin-bottom: 100px;
  }
}

.booking-form {
  background-color: #FFFFFF;
  border-radius: 20px;
  position: relative;
  display: inline-flex;
  gap: 100px;
  max-width: 77%;
}
@media (max-width: 1919px) {
  .booking-form {
    max-width: 84%;
  }
}
@media (max-width: 1439px) {
  .booking-form {
    max-width: 92%;
  }
}
@media (max-width: 1151px) {
  .booking-form {
    max-width: 85%;
  }
}
@media (max-width: 767px) {
  .booking-form {
    display: grid;
    gap: 60px;
    max-width: 100%;
  }
}
.booking-form::before {
  content: "";
  margin-left: 0;
  background-color: #FFFFFF;
  position: absolute;
  left: -250px;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
@media (max-width: 767px) {
  .booking-form::before {
    display: none;
  }
}
.booking-form__field-part {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 74px;
  padding-bottom: 74px;
}
@media (max-width: 1919px) {
  .booking-form__field-part {
    padding-top: 75.5px;
    padding-bottom: 75.5px;
  }
}
@media (max-width: 1439px) {
  .booking-form__field-part {
    padding-top: 55.5px;
    padding-bottom: 55.5px;
  }
}
@media (max-width: 1151px) {
  .booking-form__field-part {
    padding-top: 23px;
    padding-bottom: 23px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .booking-form__field-part {
    padding: 20px 20px 0 20px;
    grid-template-columns: 1fr;
  }
}
.booking-form__field {
  display: grid;
  gap: 12px;
}
.booking-form__input-label {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #767E86;
}
.booking-form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/service/expand-arrow.svg);
  background-position: right center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;
  width: 100%;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.booking-form__field:first-of-type .booking-form__input {
  background-image: none;
}
.booking-form__input::-moz-placeholder {
  color: #172432;
}
.booking-form__input::placeholder {
  color: #172432;
}
@media (max-width: 1439px) {
  .booking-form__input {
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .booking-form__input {
    font-size: 14px;
    line-height: 19px;
  }
}
.booking-form__button {
  background-color: #FF7757;
  height: auto;
  border-radius: 0px 20px 20px 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
}
.booking-form__button svg {
  min-width: 22px;
}
.booking-form__button svg path {
  fill: #FFFFFF;
}
@media (max-width: 767px) {
  .booking-form__button {
    border-radius: 0px 0px 20px 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
  }
  .booking-form__button br {
    display: none;
  }
}

@media (max-width: 1151px) {
  .popular-destinations__title-block {
    order: 1;
  }
}
.popular-destinations__slider-arrows {
  place-self: end;
}
@media (max-width: 1151px) {
  .popular-destinations__slider-arrows {
    order: 3;
    align-self: center;
  }
}
.popular-destinations__cards-block {
  min-width: 0;
}
@media (max-width: 1151px) {
  .popular-destinations__cards-block {
    order: 2;
  }
}

.popular-destinations.swiper {
  overflow: visible;
}

.destination-card {
  position: relative;
  width: 100%;
  height: 661px;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: flex-end;
}
@media (max-width: 1151px) {
  .destination-card {
    max-width: 100%;
    width: 100%;
    height: 456px;
  }
}
.destination-card__img {
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;
  height: 661px;
  width: 100%;
  z-index: -3;
}
@media (max-width: 1151px) {
  .destination-card__img {
    width: 100%;
    height: 456px;
  }
}
.destination-card__img::after {
  background: linear-gradient(0deg, rgba(255, 119, 87, 0.1), rgba(255, 119, 87, 0.1));
}
.destination-card__title {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
}
@media (max-width: 767px) {
  .destination-card__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.destination-card__location {
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-left: 40px;
  height: 24px;
  display: flex;
  align-items: center;
  background-image: url(../img/service/location.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
@media (max-width: 767px) {
  .destination-card__location {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .special-offer {
    row-gap: 60px;
  }
}
.special-offer__slider-arrows {
  order: 1;
  place-self: end start;
}
@media (max-width: 1151px) {
  .special-offer__slider-arrows {
    order: 3;
    align-self: center;
  }
}
.special-offer__title-block {
  order: 2;
  align-items: flex-end;
}
.special-offer__title-block .block-title::after {
  margin-left: 40%;
}
@media (max-width: 1151px) {
  .special-offer__title-block .block-title::after {
    order: 1;
  }
}
.special-offer__cards-block {
  order: 3;
  display: flex;
  gap: 32px;
  overflow: hidden;
}
@media (max-width: 1151px) {
  .special-offer__cards-block {
    order: 2;
  }
}

.special-offer-card:nth-child(4) {
  display: none;
}
@media (max-width: 1151px) {
  .special-offer-card {
    display: none;
  }
  .special-offer-card:first-child {
    display: block;
  }
}
.special-offer-card__img {
  height: 286px;
  border-radius: 26px 26px 0px 0px;
}
.special-offer-card__img::after {
  background: linear-gradient(0deg, rgba(255, 119, 87, 0.1), rgba(255, 119, 87, 0.1));
}
.special-offer-card__info-block {
  background-color: #FFF8F1;
  border-radius: 0px 0px 26px 26px;
  padding: 40px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .special-offer-card__info-block {
    padding: 20px 24px;
  }
}
@media (max-width: 767px) {
  .special-offer-card__info-block {
    padding: 20px;
  }
}
.special-offer-card__title {
  color: #767E86;
  font-family: "Muli", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  width: 100%;
  margin-bottom: 8px;
}
.special-offer-card__stars {
  width: 100%;
  margin-bottom: 24px;
}
.special-offer-card__description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .special-offer-card__description {
    font-size: 16px;
    line-height: 20px;
  }
}
.special-offer-card__price-block {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 767px) {
  .special-offer-card__price-block {
    margin-bottom: 20px;
    width: 100%;
  }
}
.special-offer-card__additional-text {
  color: #767E86;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1439px) {
  .special-offer-card__additional-text {
    font-size: 18px;
    line-height: 21px;
  }
}
.special-offer-card__price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #FF7757;
}
@media (max-width: 1439px) {
  .special-offer-card__price {
    font-size: 28px;
    line-height: 33px;
  }
}
@media (max-width: 1151px) {
  .special-offer-card__price {
    font-size: 32px;
    line-height: 38px;
  }
}
.special-offer-card__button {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #FF7757;
  padding: 20px 40px;
  border-radius: 12px;
}
@media (max-width: 1151px) {
  .special-offer-card__button {
    padding: 16px 24px;
  }
}

.blog {
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1151px) {
  .blog {
    row-gap: 32px;
  }
}
.blog__title-block {
  width: 100%;
}
@media (max-width: 1151px) {
  .blog__title-block {
    margin-bottom: 100px;
  }
}
.blog__post-img {
  border-radius: 26px;
  flex: 0 0 calc((100% - 32px) / 2);
}
@media (max-width: 1151px) {
  .blog__post-img {
    flex-basis: auto;
    height: 555px;
  }
}
@media (max-width: 767px) {
  .blog__post-img {
    height: 314px;
  }
}
.blog__post-img::after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.blog__text-block {
  flex: 0 0 calc((100% - 32px) / 2);
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
@media (max-width: 1439px) {
  .blog__text-block {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 1151px) {
  .blog__text-block {
    flex-basis: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.blog__post-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 72px;
}
@media (max-width: 767px) {
  .blog__post-title {
    font-size: 40px;
    line-height: 53px;
  }
}
.blog__post-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 52px;
}
@media (max-width: 1439px) {
  .blog__post-text {
    font-size: 18px;
    line-height: 42px;
  }
}

.trip-planners {
  display: flex;
  gap: 100px;
  align-items: center;
}
@media (max-width: 1919px) {
  .trip-planners {
    gap: 80px;
  }
}
@media (max-width: 1151px) {
  .trip-planners {
    flex-direction: column;
    align-items: flex-start;
  }
}
.trip-planners__title-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 394px;
  width: 394px;
}
.trip-planners__title {
  margin-bottom: 32px;
}
.trip-planners__subtitle {
  width: 100%;
  color: #767E86;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 46.5px;
}
.trip-planners__button {
  margin-left: 40px;
}
@media (max-width: 1919px) {
  .trip-planners__button {
    margin-left: 14px;
  }
}
.trip-planners__cards-block {
  display: flex;
  gap: 32px;
  padding-top: 73px;
  padding-bottom: 73px;
}
@media (max-width: 1151px) {
  .trip-planners__cards-block {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
}

.trip-planners-card {
  height: 399px;
  width: 300px;
  overflow: hidden;
  transition: margin-top 1s;
}
@media (max-width: 1439px) {
  .trip-planners-card {
    height: 350px;
  }
}
@media (min-width: 1152px) {
  .trip-planners-card:hover {
    overflow: visible;
    margin-top: -73px;
    transition: margin-top 1s;
  }
}
@media (max-width: 1151px) {
  .trip-planners-card {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}
.trip-planners-card__img {
  height: 399px;
  width: 300px;
  border-radius: 26px;
}
@media (max-width: 1439px) {
  .trip-planners-card__img {
    height: 350px;
  }
}
@media (max-width: 1151px) {
  .trip-planners-card__img {
    width: 100%;
  }
}
.trip-planners-card__img::after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.trip-planners-card__tour-info {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.trip-planners-card__tour-type {
  font-family: "Rubik", sans-serif;
  color: #172432;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.trip-planners-card__tour-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
}
.trip-planners-card__tour-name {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}
.trip-planners-card__tour-length {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
}

.gallery__title-block {
  order: 1;
}
.gallery__slider-arrows {
  place-self: end;
  order: 2;
}
@media (max-width: 1151px) {
  .gallery__slider-arrows {
    order: 3;
    place-self: center;
  }
}
.gallery__photo-block {
  width: 100%;
  display: flex;
  gap: 32px;
  order: 3;
  padding-top: 37.5px;
  padding-bottom: 37.5px;
}
@media (max-width: 1151px) {
  .gallery__photo-block {
    order: 2;
    flex-direction: column;
  }
}
.gallery__img {
  width: calc((100% - 96px) / 3);
  height: 570px;
  border-radius: 26px;
  margin-top: 0;
  transition: margin-top 1s;
}
@media (min-width: 1152px) {
  .gallery__img:hover {
    margin-top: -37.5px;
    transition: margin-top 1s;
  }
}
@media (max-width: 1919px) {
  .gallery__img {
    height: 469px;
  }
}
@media (max-width: 1439px) {
  .gallery__img {
    height: 351px;
  }
}
@media (max-width: 1151px) {
  .gallery__img {
    width: 100%;
    display: none;
  }
  .gallery__img:first-child {
    display: block;
  }
}
@media (max-width: 1151px) and (max-width: 767px) {
  .gallery__img {
    height: 320px;
  }
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .feedback {
    gap: 100px;
  }
}
.feedback__title-block {
  width: 100%;
}
.feedback__feedbacks-block {
  display: flex;
  gap: 32px;
}
.feedback__slider-arrows {
  width: 100%;
  justify-content: end;
}

.feedback-card {
  background-color: #F5F6F7;
  border-radius: 12px;
  width: 663px;
  padding: 60px 40px 40px;
  position: relative;
}
@media (max-width: 1919px) {
  .feedback-card {
    width: 562px;
  }
}
@media (max-width: 1439px) {
  .feedback-card {
    width: 500px;
  }
}
@media (max-width: 767px) {
  .feedback-card {
    width: 100%;
    padding: 60px 20px 20px;
    display: none;
  }
  .feedback-card:first-child {
    display: block;
  }
}
.feedback-card__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: -65px;
}
.feedback-card__client-says {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #767E86;
  margin-bottom: 20px;
}
.feedback-card__stars {
  margin-bottom: 20px;
}
.feedback-card__client-name {
  margin-bottom: 4px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #767E86;
}
.feedback-card__client-profession {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767E86;
}

.subscribe {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 26px;
  max-width: 1262px;
  padding: 60px 80px;
  display: inline-flex;
  gap: 100px;
  align-items: center;
  text-align: left;
  position: relative;
  top: 116px;
  z-index: 2;
  background-color: #FFFFFF;
}
@media (max-width: 1439px) {
  .subscribe {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 1151px) {
  .subscribe {
    margin-left: 20px;
    margin-right: 20px;
    top: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .subscribe {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.subscribe__title {
  color: #767E86;
}
@media (max-width: 1439px) {
  .subscribe__title {
    font-size: 54px;
    line-height: 133.3%;
  }
}
@media (max-width: 767px) {
  .subscribe__title {
    font-size: 40px;
    width: 100%;
  }
}
.subscribe__title::after {
  border-bottom: 0;
}
@media (max-width: 1151px) {
  .subscribe__form {
    width: 100%;
  }
  .subscribe__form .subscribe-form__field {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .subscribe__form {
    flex-wrap: wrap;
  }
  .subscribe__form .subscribe-form__button {
    width: 100%;
  }
}

.subscribe-form {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: flex-end;
}
.subscribe-form__field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscribe-form__email-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #767E86;
  display: block;
}
.subscribe-form__email {
  background-color: #FFE8D4;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 40px;
  border-radius: 12px;
  cursor: pointer;
}
.subscribe-form__email::-moz-placeholder {
  color: #FF7757;
}
.subscribe-form__email::placeholder {
  color: #FF7757;
}
.subscribe-form__button {
  padding: 24px 40px;
}

footer {
  background-color: #172432;
}

.page-footer {
  color: #FFFFFF;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 240px;
  padding-bottom: 140px;
}
@media (max-width: 1151px) {
  .page-footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .page-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.page-footer__copyright-and-policy-stuff {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.page-footer__logo {
  height: 45.6px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .page-footer__logo {
    height: 27.5px;
  }
}
.page-footer__copyright {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.page-footer__info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.page-footer__info-block-title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.page-footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page-footer__link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.page-footer__socials-list {
  display: flex;
  gap: 24px;
}
.page-footer__socials-link {
  display: flex;
  align-items: center;
  height: 40px;
}/*# sourceMappingURL=style.css.map */